.head{
    font-family: lobster;
}
.mailbtn:hover{
    color: white!important;
    z-index: 2;
    }
    .mailbtn{
        background-color: #ffc107!important;
        color: black;
        border: none;
    }
    .modal-title{
        font-family: lobster;
    }
    .c1:hover{
        background-color: #ffc107;
        color: white;
    }